{% extends "zwp_shop/base.html" %}
{% load i18n zwp_shop_tags %}

{% block content %}
{% zwp_order_steps %}

<form class="zwp-order step-{{ wizard.steps.current }}" action="" method="post">
	{% csrf_token %}
	{{ wizard.management_form }}
	
	{% block order_content %}
	{% endblock %}
	
	{% if wizard.steps.prev %}
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
	{% endif %}

	{% if wizard.steps.current == wizard.steps.last %}
		<input type="submit" value="{% trans "Finish order" %}">

	{% else %}
		<input type="submit" value="{% trans "Next" %}">
	{% endif %}
</form>
{% endblock %}
